## creating series

In [2]:
# varname=pandas.Series(object,index,dtype,name)

In [4]:
import numpy as np
import pandas as pd

In [6]:
a=10
s=pd.Series(a)
print(s,type(s))

0    10
dtype: int64 <class 'pandas.core.series.Series'>

In [8]:
# creating the series object by using the float object 
a=10.23
s=pd.Series(a)
print(s)

0    10.23
dtype: float64

In [10]:
# creating the series object by using the boolean object 
a=True
s=pd.Series(a)
print(s)

0    True
dtype: bool

In [14]:
# creating the objec of series by using the complex object
a=2+3j
s=pd.series(a) # AttributeError: module 'pandas' has no attribute 'series'
print(s)

AttributeError: module 'pandas' has no attribute 'series'

In [18]:
a=2+3j
s=pd.Series(a)
print(s)

0    2.0+3.0j
dtype: complex128

In [20]:
a="PYTHON"
s=pd.Series(a)
print(s)

0    PYTHON
dtype: object

In [22]:
r=range(100,201,20)
s=pd.Series(r)
print(s)

0    100
1    120
2    140
3    160
4    180
5    200
dtype: int64

In [24]:
# creating the object of series by using the range object 
r=range(100,201,20)
s=pd.Series(r,dtype=float)
print(s)

0    100.0
1    120.0
2    140.0
3    160.0
4    180.0
5    200.0
dtype: float64

In [26]:
# creating an object of series by using the list object 
lst=[100,200,300,400,500,600]
s=pd.Series(lst)
print(s)

0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64

In [28]:
# creating an object of series by using the list object 
lst=[100,200,300,400,500,600]
s=pd.Series(lst,dtype=float)
print(s)

0    100.0
1    200.0
2    300.0
3    400.0
4    500.0
5    600.0
dtype: float64

In [30]:
# creating an object of series by using the list object
lst=["Rossum","Travis","kinni","dennis"]
s=pd.Series(lst)
print(s)

0    Rossum
1    Travis
2     kinni
3    dennis
dtype: object

In [32]:
# creating an object of series by using the list object
lst=["Rossum","Travis",100,"dennis",200]
s=pd.Series(lst)
print(s)

0    Rossum
1    Travis
2       100
3    dennis
4       200
dtype: object

In [34]:
# creating an object of series by using the tuple object
tpl=(1000,2000,3000,4000)
s=pd.Series(tpl)
print(s)

0    1000
1    2000
2    3000
3    4000
dtype: int64

In [38]:
# creating an object of series by using the dict object
st1={100,200,300,400,500}
# s=pd.Series(st1) # TypeError: 'set' type is unordered
# print(s)

In [42]:
# code for assigning programmer-defined index for series object
r=range(100,121,5)
s=pd.Series(r,index=[1,2,3,4,5])
print(s)

1    100
2    105
3    110
4    115
5    120
dtype: int64

In [44]:
s[1]

100

In [48]:
s[2]

105

In [50]:
r=range(100,201,20)
s=pd.Series(r,index=["A","B","C","D","E","F"])
print(s)

A    100
B    120
C    140
D    160
E    180
F    200
dtype: int64

In [52]:
s["A"]

100

In [54]:
s["E"]

180

In [56]:
s[3]

C:\Users\dell\AppData\Local\Temp\ipykernel_15312\3172538273.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[3]

160

In [58]:
# creating an object of series by using the dict object
d={10:"python",20:"c++",30:"java",40:"c"}
s=pd.Series(d)
print(s)

10    python
20       c++
30      java
40         c
dtype: object

In [60]:
s[10]

'python'

In [64]:
# s[0] #KeyError: 0

In [66]:
a=None
s=pd.Series(a)
print(s)

Series([], dtype: object)

In [70]:
# creating an object of series by using the ndarray
import numpy as np
a=np.array([10,20,30,40,50,60,70])
print("content of a:",a)
print("type of a:",type(a))
s=pd.Series(a)
print(s,type(s))

content of a: [10 20 30 40 50 60 70]
type of a: <class 'numpy.ndarray'>
0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int32 <class 'pandas.core.series.Series'>

In [72]:
# creating an object of series by using the ndarray
import numpy as np
a=np.array([10,20,30,40,50,60,70])
s=pd.Series(a,index=[1,2,3,4,5,6,7])
print(s)

1    10
2    20
3    30
4    40
5    50
6    60
7    70
dtype: int32

In [78]:
df=pd.read_csv("C:\\placement notes\\Salary_Data.csv")
print(df)

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [82]:
print(df["Salary"])

0      39343
1      46205
2      37731
3      43525
4      39891
5      56642
6      60150
7      54445
8      64445
9      57189
10     63218
11     55794
12     56957
13     57081
14     61111
15     67938
16     66029
17     83088
18     81363
19     93940
20     91738
21     98273
22    101302
23    113812
24    109431
25    105582
26    116969
27    112635
28    122391
29    121872
Name: Salary, dtype: int64