# Attributes of series object

# 1.index

In [6]:
# creating an object of series 
import numpy as np
import pandas as pd
s=pd.Series(["ram","sita","laxman","hunuman"])
print("content of the series")
print(s)

content of the series
0        ram
1       sita
2     laxman
3    hunuman
dtype: object

In [10]:
# attribute name:index-->gives the index name of the series object 
#syntax:seriesobject.index
print(s)
print("+"*50)
s.index

0        ram
1       sita
2     laxman
3    hunuman
dtype: object
++++++++++++++++++++++++++++++++++++++++++++++++++

RangeIndex(start=0, stop=4, step=1)

In [12]:
# rcreating the series object with labels
s=pd.Series(["ram","sita","laxman","hunuman"],index=["a","b","c","d"])
print(s.index)

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
# rcreating the series object with labels
s=pd.Series(["ram","sita","laxman","hunuman"],index=[1,2,3,4])
print(s.index)

Index([1, 2, 3, 4], dtype='int64')

# 2.name

In [17]:
#creating the series object with the list 
s=pd.Series(["rossum","travis","kinni","dennis","jhunter"],index=["r","t","k","d","j"],name="authors")
print(s)

r     rossum
t     travis
k      kinni
d     dennis
j    jhunter
Name: authors, dtype: object

In [21]:
# attribute name:name-->gives the name of the series
# syntax:seriesobject.name
print(s)
print("-"*50)
print("name of the series object=",s.name)

r     rossum
t     travis
k      kinni
d     dennis
j    jhunter
Name: authors, dtype: object
--------------------------------------------------
name of the series object= authors

In [23]:
s=pd.Series(["rossum","travis","kinni","dennis","jhunter"],index=["r","t","k","d","j"])
print(s)
print("-----------------------------")
print("name of the series obect =",s.name)

r     rossum
t     travis
k      kinni
d     dennis
j    jhunter
dtype: object
-----------------------------
name of the series obect = None

In [25]:
# when we not giving any name to creating of the serirs.it's treated as None

# 3.size

In [28]:
# attribute name:size-->it is giving the total number of entires 
# syntax:seriesobject.size
print(s)
print("---------------------------------------------")
print(s.size)

r     rossum
t     travis
k      kinni
d     dennis
j    jhunter
dtype: object
---------------------------------------------
5

In [36]:
# creating the empty series
l=[]
s1=pd.Series(l)
print(s1)

Series([], dtype: object)

In [40]:
print(s1)
print("-----------------------------------------")
print(s1.size)
print(s.index)

Series([], dtype: object)
-----------------------------------------
0
RangeIndex(start=0, stop=0, step=1)

# 4.shape

In [43]:
s=pd.Series(["rossum","travis","kinni","dennis","jhunter"],index=["r","t","k","d","j"])
print(s)
print("-----------------------------------------")
print("shape of the series=",s.shape)

r     rossum
t     travis
k      kinni
d     dennis
j    jhunter
dtype: object
-----------------------------------------
shape of the series= (5,)

# 5.values

In [46]:
print(s)
print("="*50)
print(s.values)

r     rossum
t     travis
k      kinni
d     dennis
j    jhunter
dtype: object
==================================================
['rossum' 'travis' 'kinni' 'dennis' 'jhunter']

# 6.empty

In [49]:
# attribute name:empty-->gives the boolen values(True when the serirs is empty,False when the series is Non-empty)
#syntax:seriesobject.empty
print(s)
print("="*50)
print(s.empty)

r     rossum
t     travis
k      kinni
d     dennis
j    jhunter
dtype: object
==================================================
False

In [51]:
print(s1)
print("="*50)
print(s1.empty)

Series([], dtype: object)
==================================================
True