# Attributes of dataframe

In [4]:
# creating the dataframe
import pandas as pd
stud=[["Rossum",1,90],["Travis",3,80],["Kinni",2,85],["JHunter",4,79],["Dennis",5,77]]
df=pd.DataFrame(stud,index=["Row"+str(i) for i in "ABCDE"],columns=["NAME","RANK","MARKS"])
print(df)

         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77

# 1.index

In [6]:
# attribute name:index-->gives row index names
#syntax:dataframeobject.index
print(df.index)

Index(['RowA', 'RowB', 'RowC', 'RowD', 'RowE'], dtype='object')

# 2.columns

In [8]:
# attribute name:columns-->gives columns index names
#syntax:dataframeobject.columns
print(df.columns)

Index(['NAME', 'RANK', 'MARKS'], dtype='object')

# 3.axes

In [10]:
# attribute name:axes-->axes gives the combination of row index and columns index names
#syntax:dataframeobject.axes
print(df.axes)

[Index(['RowA', 'RowB', 'RowC', 'RowD', 'RowE'], dtype='object'), Index(['NAME', 'RANK', 'MARKS'], dtype='object')]

In [14]:
print(df.axes)
print("="*50)
for axis in df.axes:
    print(axis)
    print("-"*50)
print("="*50)

[Index(['RowA', 'RowB', 'RowC', 'RowD', 'RowE'], dtype='object'), Index(['NAME', 'RANK', 'MARKS'], dtype='object')]
==================================================
Index(['RowA', 'RowB', 'RowC', 'RowD', 'RowE'], dtype='object')
--------------------------------------------------
Index(['NAME', 'RANK', 'MARKS'], dtype='object')
--------------------------------------------------
==================================================

# 4.dtypes

In [22]:
# attribute name:dtypes-->gives the individual data types of columns and overall data type of df
#syntax:dataframeobject.dtypes
print(df)
print("-"*50)
print(df.dtypes)

         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77
--------------------------------------------------
NAME     object
RANK      int64
MARKS     int64
dtype: object

# 5.size

In [27]:
# attribute name:size--.size gives the number of rows and columns
#syntax:dataframeobject.size
print(df)
print("="*50)
print("number of enties with row X columns=",df.size)

         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77
==================================================
number of enties with row X columns= 15

In [32]:
# attribute name:size-->size gives the number of rows and columns
#syntax:dataframeobject.size
print(df)
print("="*50)
print("number of entires with {} rows x {} columns={}".format(df.shape[0],df.shape[1],df.size))

         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77
==================================================
number of entires with 5 rows x 3 columns=15

# 6.shape

In [30]:
# attribute name:shape-->gives (rows,columns)
#syntax:dataframeobject.shape
print(df)
print("-"*50)
print(df.shape)

         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77
--------------------------------------------------
(5, 3)

# 7.ndim

In [35]:
# attribute name:ndim-->gives dimension of the dataframe
#syntax:dataframeobject.ndim
print(df)
print("-"*50)
print("dimension of the dataframe=",df.ndim)

         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77
--------------------------------------------------
dimension of the dataframe= 2

# 8.empty

In [38]:
# attribute name:empty-->gives boolean values (True in the case of empty or False in the case of non-empty)
#syntax:dataframeobject.empty
print(df)
print("-"*50)
print(df.empty)

         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77
--------------------------------------------------
False

In [42]:
# creat one empty dataframe 
d={}
df1=pd.DataFrame(d)
print(df1)
print("-"*50)
print(df1.empty)

Empty DataFrame
Columns: []
Index: []
--------------------------------------------------
True

# 9.values

In [47]:
# attribute name:values-->gives dataset of the dataframe in the form of list in list
#syntax:dataframeobject.values
print(df)
print("="*50)
print("dataset i dataframe")
print(df.values)

         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77
==================================================
dataset i dataframe
[['Rossum' 1 90]
 ['Travis' 3 80]
 ['Kinni' 2 85]
 ['JHunter' 4 79]
 ['Dennis' 5 77]]

In [51]:
print(df)
print("-"*50)
print("dataset in dataframe")
for row in df.values:
    for val in row:
        print("\t{}".format(val),end=" ")
    print()

         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77
--------------------------------------------------
dataset in dataframe
	Rossum 	1 	90
	Travis 	3 	80
	Kinni 	2 	85
	JHunter 	4 	79
	Dennis 	5 	77

# 10.T(Trancepose)

In [54]:
# attribute name:T-->gives tanspose of dataframe(roe becomes columns,columns becomes rows)
#syntax:dataframeobject.T
print("-"*50)
print("original dataframe")
print("-"*50)
print(df)
print("-"*50)
print("Tranceposed Dataframe")
print("-"*50)
print(df.T)
print("-"*50)

--------------------------------------------------
original dataframe
--------------------------------------------------
         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77
--------------------------------------------------
Tranceposed Dataframe
--------------------------------------------------
         RowA    RowB   RowC     RowD    RowE
NAME   Rossum  Travis  Kinni  JHunter  Dennis
RANK        1       3      2        4       5
MARKS      90      80     85       79      77
--------------------------------------------------

In [56]:
print(df)

         NAME  RANK  MARKS
RowA   Rossum     1     90
RowB   Travis     3     80
RowC    Kinni     2     85
RowD  JHunter     4     79
RowE   Dennis     5     77