In [1]:
import numpy as np
import pandas as pd

In [3]:
# create dataframe from the dictionary

In [11]:
technologies={
    "Fee":["20000","25000","26000"],
    "Discount":["1000","2300","1500"]}
df=pd.DataFrame(technologies)
print(df)

     Fee Discount
0  20000     1000
1  25000     2300
2  26000     1500

In [13]:
df.dtypes

Fee         object
Discount    object
dtype: object

In [15]:
# cast all columns into int type
df=df.astype(np.int64)

In [17]:
print(df.dtypes)

Fee         int64
Discount    int64
dtype: object

In [19]:
df=df.astype("int32")

In [21]:
print(df.dtypes)

Fee         int32
Discount    int32
dtype: object

In [23]:
df=df.astype("int")

In [25]:
print(df.dtypes)

Fee         int32
Discount    int32
dtype: object

In [27]:
# cast all types into string type
df=df.astype("string")

In [29]:
df.dtypes

Fee         string[python]
Discount    string[python]
dtype: object

In [31]:
# cast all columns into float type
df=df.astype(np.float64)
df.dtypes

Fee         float64
Discount    float64
dtype: object

In [33]:
df=df.astype("float_")

In [35]:
df.dtypes

Fee         float64
Discount    float64
dtype: object

In [37]:
df=df.astype("float32")
df.dtypes

Fee         float32
Discount    float32
dtype: object

In [39]:
# change the specific column

In [41]:
df.Fee

0    20000.0
1    25000.0
2    26000.0
Name: Fee, dtype: float32

In [43]:
df.Fee=df["Fee"].astype("int")

In [47]:
df.dtypes

Fee           int32
Discount    float32
dtype: object

In [51]:
df["Fee"]=df["Fee"].astype("int64")

In [53]:
df.dtypes

Fee           int64
Discount    float32
dtype: object

In [59]:
# taking the another dataframe 
technologies={
    "Courses":["Spark","pyspark","handoop"],
    "Fee":["20000","25000","26000"],
    "Duration":["30days","40days","35days"],
    "Discount":["1000","2300","1500"]}
df=pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration Discount
0    Spark  20000   30days     1000
1  pyspark  25000   40days     2300
2  handoop  26000   35days     1500

In [63]:
df.dtypes

Courses     object
Fee         object
Duration    object
Discount    object
dtype: object

In [65]:
# chane the dtype of the multiple columns by using the dict
df2=df.astype({"Courses":"string","Fee":"int","Discount":"float"})

In [67]:
df2

   Courses    Fee Duration  Discount
0    Spark  20000   30days    1000.0
1  pyspark  25000   40days    2300.0
2  handoop  26000   35days    1500.0

In [71]:
df2.dtypes

Courses     string[python]
Fee                  int32
Duration            object
Discount           float64
dtype: object

In [73]:
# remove the days word from the duration
df2["Duration"]=df2["Duration"].astype("string")

In [77]:
df2.dtypes

Courses     string[python]
Fee                  int32
Duration    string[python]
Discount           float64
dtype: object

In [85]:
df2["Duration"]=[val[0:2] for val in df2["Duration"].values]

In [87]:
df2

   Courses    Fee Duration  Discount
0    Spark  20000       30    1000.0
1  pyspark  25000       40    2300.0
2  handoop  26000       35    1500.0

In [89]:
df2.dtypes

Courses     string[python]
Fee                  int32
Duration            object
Discount           float64
dtype: object

In [91]:
df2["Duration"]=df["Duration"].astype("int")

In [93]:
df2.dtypes

Courses     string[python]
Fee                  int32
Duration             int32
Discount           float64
dtype: object