# get and set the values

In [2]:
# creating the series with default indeces
import numpy as np
import pandas as pd
names=pd.Series(["raju","suresh","chandu","usha","sravani","sankar","trinadh"])
print(names)

0       raju
1     suresh
2     chandu
3       usha
4    sravani
5     sankar
6    trinadh
dtype: object

In [4]:
# get the values from the series object
names[0]

'raju'

In [6]:
names[5]

'sankar'

In [10]:
# names[-1] # series not suppotint for negative indexing-->KeyError: -1

In [12]:
names[3]

'usha'

In [14]:
names[0:3]

0      raju
1    suresh
2    chandu
dtype: object

In [16]:
names[0::2]

0       raju
2     chandu
4    sravani
6    trinadh
dtype: object

In [35]:
names[[0,5,3]] # names[0,5,3]-->KeyError: 'key of type tuple not found and not a MultiIndex'

0     satya
5    sankar
3      usha
dtype: object

In [25]:
names[1]="naga"

In [27]:
print(names)

0       raju
1       naga
2     chandu
3       usha
4    sravani
5     sankar
6    trinadh
dtype: object

In [29]:
names[0:3]=["satya","janaki","raju"]
print(names)

0      satya
1     janaki
2       raju
3       usha
4    sravani
5     sankar
6    trinadh
dtype: object

In [33]:
names[[2,4]]=["mahesh","varshini"]
print(names)

0       satya
1      janaki
2      mahesh
3        usha
4    varshini
5      sankar
6     trinadh
dtype: object

In [37]:
# creating the series with int labels
s=pd.Series(["john","vicci","sandy","mike","peter"],index=(1,2,3,4,5))
print(s)

1     john
2    vicci
3    sandy
4     mike
5    peter
dtype: object

In [43]:
# s[0] -->KeyError: 0 (we didn't access with default indecies)

In [45]:
s[1]

'john'

In [47]:
s[5]

'peter'

In [51]:
# s[6]-->KeyError: 6 (index value out of the range )

In [53]:
s[::]

1     john
2    vicci
3    sandy
4     mike
5    peter
dtype: object

In [55]:
s[:4]

1     john
2    vicci
3    sandy
4     mike
dtype: object

In [59]:
# set the values for the series object
s[1]="lucky"
print(s)

1    lucky
2    vicci
3    sandy
4     mike
5    peter
dtype: object

In [61]:
s[5]="syam"
print(s)

1    lucky
2    vicci
3    sandy
4     mike
5     syam
dtype: object

In [79]:
s[2:5]=["roman","kevin","mady"]
print(s)

1    lucky
2    vicci
3    roman
4    kevin
5     mady
dtype: object

In [81]:
# creating the series with str labels
s=pd.Series(["john","vicci","sandy","mike","peter"],index=("A","B","C","D","E"))
print(s)

A     john
B    vicci
C    sandy
D     mike
E    peter
dtype: object

In [83]:
s["A"]

'john'

In [85]:
s["D"]

'mike'

In [87]:
s["A":"B"]

A     john
B    vicci
dtype: object

In [89]:
s["A":"B"]=["max","jinni"]
print(s)

A      max
B    jinni
C    sandy
D     mike
E    peter
dtype: object

In [93]:
s[0] # future warning is coming for this because we are accessing with default indecies

C:\Users\dell\AppData\Local\Temp\ipykernel_516\3047773040.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[0] # future warning is coming for this because we are accessing with default indecies

'max'