# product and cumproduct

In [2]:
import numpy as np
import pandas as pd
s=pd.Series([2,5,3,1,6])
print(s)

0    2
1    5
2    3
3    1
4    6
dtype: int64

In [4]:
s.product()

180

In [6]:
s.cumprod()

0      2
1     10
2     30
3     30
4    180
dtype: int64

In [12]:
s=pd.Series([2,5,3,1,np.NaN,6])
print(s)

0    2.0
1    5.0
2    3.0
3    1.0
4    NaN
5    6.0
dtype: float64

In [14]:
s.product()

180.0

In [16]:
s.cumprod()

0      2.0
1     10.0
2     30.0
3     30.0
4      NaN
5    180.0
dtype: float64

In [18]:
s=pd.Series([2,5,3,1,5,2,3,5,4])
print("values of series")
print(s)
print("max elememnt=",s.max())
print("min element=",s.min())
print("mean element=",s.mean())
print("median element=",s.median())
print("std of element=",s.std())
print("product of element=",s.product())

values of series
0    2
1    5
2    3
3    1
4    5
5    2
6    3
7    5
8    4
dtype: int64
max elememnt= 5
min element= 1
mean element= 3.3333333333333335
median element= 3.0
std of element= 1.5
product of element= 18000

In [20]:
s=pd.Series([2,5,3,1,5,2,3,5,4])
print("values of series")
print(s)
print("-----------------------------------")
s.agg(["max","min","mean","median","sum","std","product"])

values of series
0    2
1    5
2    3
3    1
4    5
5    2
6    3
7    5
8    4
dtype: int64
-----------------------------------

max            5.000000
min            1.000000
mean           3.333333
median         3.000000
sum           30.000000
std            1.500000
product    18000.000000
dtype: float64